
#tudo2{
    position: absolute;
    width: 100%;
    height: 100%; 
}

body{
    background-color: #ADD5D0;
}

/* Form */

::placeholder {
    color: #3F92C5;
}

.flex-pai-CadastroCompleto{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    column-gap: 15px;
    line-height: 1.8;
    
}

.flex-filho-Campos{
    font-size: 30px;
    text-align: right;
    color: white;
}

.flex-filho-Entradas{
    font-size: 30px;
    color: white;   
}

.FormularioCampo{
    font-size: 30px;
    color: #3F92C5;
    width: 585px;
    border: none;
}

#data1{
    width: 280px;
}

.form1Radio{
    vertical-align: middle;
    color: white;
    width: 35px;
    height: 35px;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.botaoembaixo{
    background: #37BD6D;
    width: 188px;
    height: 40px;
    color:white;
    border:none;
    font-weight: bold;  
}